:root {
  --color-primary-orange: hsl(31, 77%, 52%);
  --color-primary-cyan: hsl(184, 100%, 22%);
  --color-primary-dcyan: hsl(179, 100%, 13%);

  --color-neutral-transwhite: hsla(0, 0%, 100%, 0.75);
  --color-neutral-lightgray: hsl(0, 0%, 95%);

  --ff-primary: "Lexend Deca", sans-serif;
  --ff-accent: "Big Shoulders Display", cursive;
  font-size: 15px;
}

body,
h1,
p,
button,
img {
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  background-color: var(--color-neutral-lightgray);
}

footer {
  font-size: 0.9rem;
}

h1 {
  color: var(--color-neutral-lightgray);
  font-family: var(--ff-accent);
  font-size: 2.7rem;
  padding-top: 1.5rem;
}

p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 2em;
}

button {
  font-family: var(--ff-primary);
  font-size: 1rem;
  background-color: var(--color-neutral-lightgray);
  width: 9.533rem;
  height: 2.867rem;
  border-radius: 1.667rem;
  border: 2px var(--color-neutral-lightgray) solid;
  cursor: pointer;
}

.card-sedans {
  background-color: var(--color-primary-orange);
  color: var(--color-neutral-transwhite);
}

.card-sedans button {
  color: var(--color-primary-orange);
}

.card-sedans button:active {
  background-color: var(--color-primary-orange);
  color: var(--color-neutral-lightgray);
}

.card-suvs {
  background-color: var(--color-primary-cyan);
  color: var(--color-neutral-transwhite);
}

.card-suvs button {
  color: var(--color-primary-cyan);
}

.card-suvs button:active {
  background-color: var(--color-primary-cyan);
  color: var(--color-neutral-lightgray);
}

.card-luxury {
  background-color: var(--color-primary-dcyan);
  color: var(--color-neutral-transwhite);
}

.card-luxury button {
  color: var(--color-primary-dcyan);
}

.card-luxury button:active {
  background-color: var(--color-primary-dcyan);
  color: var(--color-neutral-lightgray);
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 5.667rem 1.667rem;
  }

  .inner-container {
    padding: 3rem;
  }

  .card-sedans {
    border-top-left-radius: 0.5333rem;
    border-top-right-radius: 0.5333rem;
  }

  .card-luxury {
    border-bottom-left-radius: 0.5333rem;
    border-bottom-right-radius: 0.5333rem;
  }
}

@media screen and (min-width: 1024px) {
  button {
    margin-top: 3.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer a {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    margin: 11.33rem auto;
    max-width: 66.8rem;
  }

  .inner-container {
    padding: 15%;
  }

  .card-sedans {
    border-top-left-radius: 0.5333rem;
    border-bottom-left-radius: 0.5333rem;
  }

  .card-luxury {
    border-top-right-radius: 0.5333rem;
    border-bottom-right-radius: 0.5333rem;
  }
}
