:root {
  --color-primary-orange: hsl(31, 77%, 52%);
  --color-primary-cyan: hsl(184, 100%, 22%);
  --color-primary-dcyan: hsl(179, 100%, 13%);

  --color-neutral-transwhite: hsla(0, 0%, 100%, 0.75);
  --color-neutral-lightgray: hsl(0, 0%, 95%);

  --ff-primary: "Lexend Deca", sans-serif;
  --ff-accent: "Big Shoulders Display", cursive;
  font-size: 15px;
}

body,
h1,
p,
button,
img {
  margin: 0;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--color-neutral-lightgray);
}

h1 {
  color: var(--color-neutral-lightgray);
}

button {
  font-family: var(--ff-primary);
  background-color: var(--color-neutral-lightgray);
  width: 9.533rem;
  height: 2.867rem;
  border-radius: 1.667rem;
  border: 2px var(--color-neutral-lightgray) solid;
}

.card-sedans {
  background-color: var(--color-primary-orange);
  color: var(--color-neutral-transwhite);
  border-top-left-radius: 0.5333rem;
  border-top-right-radius: 0.5333rem;
}

.card-sedans button {
  color: var(--color-primary-orange);
}

.card-suvs {
  background-color: var(--color-primary-cyan);
  color: var(--color-neutral-transwhite);
}

.card-suvs button {
  color: var(--color-primary-cyan);
}

.card-luxury {
  background-color: var(--color-primary-dcyan);
  color: var(--color-neutral-transwhite);
  border-bottom-left-radius: 0.5333rem;
  border-bottom-right-radius: 0.5333rem;
}

.card-luxury button {
  color: var(--color-primary-dcyan);
}

@media screen and (max-width: 376px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 5.667rem 1.667rem;
  }

  .inner-container {
    padding: 2.333rem;
  }
}
