body {
    font-size: 0.9375rem;
}

.test {
  border: 2px solid red;
}

.container {
  display: grid;
  grid-column: auto;
}

.card1 {
    background-color: hsl(31, 77%, 52%);
    width: 20%;
}

.card2 {
    background-color: hsl(184, 100%, 22%);
    width: 20%;
}

.card3 {
    background-color: hsl(179, 100%, 13%);
    width: 20%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
